.home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    margin-top: -2.67%; /* Move the content up by approximately 1/6th of the page height */
  }

  .home-content h1 {
    font-size: 2.5em;
    margin: 10px 0;
    color: rgb(0, 0, 0);
    text-shadow:
        -1px -1px 0 white,
        1px -1px 0 white,
        -1px 1px 0 white,
        1px 1px 0 white; /* White outline */
  }

  .home-content p {
    font-size: 1.2em;
    margin: 5px 0;
    color: white;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black; /* White outline */
    }
